notes/**
learning/** 
log/**

**/.ipynb_checkpoints/**
**/__pycache__/**

# 00_analysis
00_analysis/data/pp-2015.csv

# 01_workflow
01_workflow/.env
01_workflow/.env_encoded
01_workflow/.credentials/**

01_workflow/scripts/.venv/**
01_workflow/kestra-data/** 
01_workflow/.tmp/**
01_workflow/scripts/src/temp/**

# 02_analytics
02_analytics/.venv_analytics/
02_analytics/housing/.user.yml
02_analytics/example/

02_analytics/housing/profiles.yml
02_analytics/housing/.credentials/

02_analytics/housing/target/
02_analytics/housing/dbt_packages/
02_analytics/housing/logs/

# infrastructure
infrastructure/.credentials/**
infrastructure/scripts/.venv

# This file is created automatically
infrastructure/backend.tf 

# Local .terraform directories
infrastructure/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# there is debate about whether this should be added to .gitignore
.terraform.lock.hcl

